
body {
    font-family: "PT Sans";
    display: block;
}

.desk {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;

}

.card {
    margin: auto;
    border-radius: 3px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 8px #ccc;
    padding: 20px;
    width: 400px;
}

.card__field {
    display: flex;
    flex-direction: row;
}

.card__field .label {
    font-weight: bold;
    margin-right: 20px;
}


.label {
    font-weight: bold;
}

.skill-list .label {
    color: #777777;
}