
body {
    font-family: "PT Sans";
    display: block;
}

.desk {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;

}

.card {
    margin: auto;
    border-radius: 3px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 8px #ccc;
    padding: 20px;
    width: 400px;
}

.card__field {
    display: flex;
    flex-direction: row;
}

.card__field .label {
    font-weight: bold;
    margin-right: 20px;
}


.label {
    font-weight: bold;
}

.skill-list .label {
    color: #777777;
}

.page-title {
    margin: auto;
    width: 100px;
}

/** Skills page */

ul.skills {
    list-style: none;
}

.skills li {
    border-left: 1px solid #777777;
}

.skills li p:nth-child(1) {
    border-bottom: 1px solid #777777;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 10px;
}

.skills li p:nth-child(2) {
    color: #999999;
    padding-left: 20px;
}