html(lang="ru")
    head
        title= pageTitle
        link(rel="stylesheet" href="css/index.css")
    body
        div.gray-area
            div.card
                div.info
                    div.row
                        div.column.label Name
                        div.column.name Kirill Khudiakov
                    div.row
                        div.column.label Position
                        div.column.name iOS Developer