- var pageTitle = 'Kirill Khudiakov aka adeveloper'
- var skills = ['MVVM', 'Swift'];

html(lang="en")
    head
        title= pageTitle
        link(rel="stylesheet" href="css/index.css")
    body
        div.desk
            div.card
                div.card__field
                    div.label Name
                    div.name  Kirill Khudiakov
                div.card__field
                    div.label Position
                    div.name  iOS Developer
                ul.skill-list
                    div.label Skills
                    each item in skills
                        li= item
